/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styles Only */

*, 
*::before,
*::after{
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-size: 16px;
    position: relative;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

/* Clearfix */

.clearfix::before, .clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}

/* Header */

.header{
    background-color: #222946;
    height: 72px;
    line-height: 72px;
    position: fixed;
    width: 100%;

}
.brand{
    float: left;
}
.brand img{
    width: 70px;
    vertical-align: middle;
}
.nav{
    float: right;
}
.nav a{
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 32px;
}

/* Article */

.section{
    padding: 60px 0;
    background-color: #e9ecfc;
}
.article-img{
    width: 100%;
    object-fit: cover;
    padding: 80px 0;
}

.col{
    float: left;
    width: 30%;
    margin: 3%;
}
h1{
    font-size: 40px;
    padding-top: 60px;
}
p{
    font-size: 16px;
    line-height: 1.7;
}
.article-img-1{
    width: 300px;
    height: 378px;
}
.article-img-2{
    width: 300PX;
    float: left;
}
.article-img-3{
    width: 300PX;
    height: 378px;
    float: left;
}
.article-image{
    float: right;
}
.article-image img{
    width: 500px;
    height: 400px;
    object-fit: cover;
}


.section{
    padding: 60px 0;
    background-color: gray;

}
.section-first{
    padding: 60px 0;
    background-color: rosybrown;
}

.left{
    float: left;
    width: 30%;
    height: 200px;
    margin: 0 10px  0 0;
}
.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
footer{
    text-align: center;
    padding: 20px;
    background-color: green;
    color: #ffffff;
}
button{
    background-color: red;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    border-radius: 50%;
    border: none;

}
button a{
    display: inline-block;
}



